.info{
    background: rgb(151, 34, 34);
}
.contact{
    background:rgb(255, 252, 46) ;
}
.about{
    background:rgb(26, 77, 172);
}
.div{
    background:rgb(143, 186, 226)
    ;
}
.information{
    background:rgb(0, 20, 199)
    ;
}